html {
	background-color: white;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
}

body {
	height: 100%;
}

.navbar {
	list-style-type: none;
	padding: 2.5vh 0;
	margin: 0 auto;
	text-align: center;
}

.navbar li {
	display: inline;
	padding: 0 5%;
	font-weight: 400;
}

.left-nav {
	padding-left: 2.5%;
	padding-right: 7.5%;
}

.right-nav {
	padding-right: 2.5%;
	padding-left: 7.5%;
}

.navbar a {
	color: black;
	text-decoration: none;
}

.navbar a.active {
	text-decoration: underline;
}

hr {
	width: 90%;
	margin: 0 auto;
	background-color: #aac3cf;
	border: 0.5px solid #aac3cf;
}

h1 {
	color: black;
	font-size: 35px;
	margin: 50px auto 0 auto;
	font-style: italic;
}

footer {
	color: #757575;
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: right;
	font-size: 12px;
	background-color: white;
}

#notif {
	float: right;
	border: 1px solid white;
	background-color: #6196af;
	border-radius: 5px;
	font-style: italic;
	color: white;
	padding: 10px 15px;
	opacity: 0;
	position: fixed;
	right: 25px;
	top: 25px;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
}

#notif.visible {
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
}

footer a:link {
	color: #6196af;
}

footer a:visited {
	color: #2e5466;
}

@media only screen and (max-device-width: 1024px) {
	h1 {
		font-size: 3vh;
	}
}
