
#flexbox {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 40px;
    grid-gap: 40px;
    /* border: 10px solid yellow; */
}

.submitButton {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 80%;
    font-size: 130%;
}

/* .questions {
    border-right: 2px dotted black;  
    padding: 20px; 
    overflow: auto;
} */

.questionDiv {
  display: grid;
  /* border: 2px solid blue; */
  height: 63vh;
  align-self: end;
}

.questions h3{
    display: grid;
    align-self: end;
    font-size: 30px;
}

/* Question Form */
#questionForm{
    /* border: 2px dotted brown; */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 6fr 1fr;
    align-items: end;
}

.poll {
    /* border: 2px solid green; */
    text-align: center;
    align-self: end;
    margin-left: 20px;
    margin-right: 20px;
}

canvas {
  width: 100% !important;
   /* background-color: #fafafa; */
}

.comment-action {
  padding-left: 8px;
  cursor: 'auto';
}

[class*='-col-rtl'] .comment-action {
  padding-right: 8px;
  padding-left: 0;
}

.ant-comment{
    border-radius: 5px;
    background-color: #fafafa;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.home {
background-color: #48b2ff;
}

#createButton {
  border: 3px solid white;
  border-radius: 55px;
  background-color: transparent;
  color: white;
  padding: 15px 30px;
  font-size: 28px;
  font-weight: 450;
  cursor: pointer;
  outline: none;
}

#createButton:hover {
  background-color: #3ba7f5;
}

#createButton:active {
  background-color: #3b9fe7;
}

.joinCodeBadge {
    background-color: #f0f0f0; /* Changing background color */
    font-weight: bold; /* Making font bold */
    border-radius: 18px; /* Making border radius */
    width: 180px; /* Making auto-sizable width */
    height: 40px; /* Making auto-sizable height */
    padding: 5px 20px 5px 20px; /* Making space around letters */
    font-size: 14px; /* Changing font size */
    position: absolute;
    right: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    border:none;
}


svg { vertical-align: baseline; }
