#flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 20px;
}
/* 
.questionGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
} */

.submitButton {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 80%;
    font-size: 130%;
    text-align: center;
}

.questions {
    /* border: 2px dotted black; */
    padding: 20px;
}

.poll {
    /* border-left: 2px solid #f5f5f5; */
    padding: 50px;
}

canvas {
   /* background-color: #fafafa; */
}

.comment-action {
  padding-left: 8px;
  cursor: 'auto';
}

[class*='-col-rtl'] .comment-action {
  padding-right: 8px;
  padding-left: 0;
}

.ant-comment{
    border-radius: 5px;
    background-color: #fafafa;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}