.homePage,
.pageNotFound,
.confirmationPage {
  opacity: 0.7;  color: black;
  font-family: "Poppins", sans-serif;
  text-align: center;
  height: 99.7vh;
  margin: 0;
  padding: 0 100px;
}

.homePage h1,
.pageNotFound h1,
.confirmationPage h1 {
  margin-bottom: 50px;
  margin-top: 0;
  padding-top: 25vh;
  font-weight: bolder;
  font-style: italic;
}

.homePage h1 {
  font-size: 10vh;
}

.pageNotFound h1,
.confirmationPage h1  {
  font-size: 5vh;
}

.homePage mark,
.pageNotFound mark,
.confirmationPage mark {
  padding-left: 0.5vh;
  padding-right: 2vh;
  background-color: #c1e6ec;
}

.homePage h2,
.pageNotFound h2 {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  font-size: 4vh;
  font-weight: 600;
}

.homePage h3,
.pageNotFound h3 {
  margin-top: 100px;
  margin-bottom: 0;
  font-size: 3vh;
  font-weight: 200;
}

.button {
  background-color: #c1e6ec;
  min-width: 100px;
  width: 200px;
  color: black;
  font-size: 20px;
  vertical-align: middle;
  padding: 10px 60px;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
