

.questionCard {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
	font-style: italic;
    background-color: #f0f0f0;
	border-radius: 5px;
    width: 95%;
    min-width: 100px;
}
